default/flows/CFCheckCompanyQueueableRu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CFCheckCompanyQueueableRu</name>
        <label>CFCheckCompanyQueueableRu</label>
        <locationX>598</locationX>
        <locationY>456</locationY>
        <actionName>CFCheckCompanyQueueableRu</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>conditions</name>
        <label>conditions</label>
        <locationX>314</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>prescoringFailure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>conditionsFalse</defaultConnectorLabel>
        <rules>
            <name>conditionsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecords.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Moved to Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRecords.INN_Opp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CFCheckCompanyQueueableRu</targetReference>
            </connector>
            <label>conditionsTrue</label>
        </rules>
    </decisions>
    <interviewLabel>CFCheckCompanyQueueableRu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Credit Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecords</name>
        <label>getRecords</label>
        <locationX>133</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>conditions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INN_Opp__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>prescoringFailure</name>
        <label>prescoringFailure</label>
        <locationX>595</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrescoringError</name>
            <fieldText>&lt;p&gt;{!$Label.PrescoringError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
