default/flows/e2eclassic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_193ef737_7fbc_4a25_a6de_575518102d90</name>
        <choiceText>&amp;#1059; &amp;#1076;&amp;#1088;&amp;#1091;&amp;#1075;&amp;#1080;&amp;#1093; &amp;#1082;&amp;#1086;&amp;#1084;&amp;#1087;&amp;#1072;&amp;#1085;&amp;#1080;&amp;#1081; &amp;#1076;&amp;#1077;&amp;#1096;&amp;#1077;&amp;#1074;&amp;#1083;&amp;#1077;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>У других компаний дешевле</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3ab767d6_1df2_4d7b_82ba_128bc3b48031</name>
        <choiceText>&amp;#1053;&amp;#1077; &amp;#1088;&amp;#1072;&amp;#1079;&amp;#1086;&amp;#1073;&amp;#1088;&amp;#1072;&amp;#1083;&amp;#1089;&amp;#1103;, &amp;#1095;&amp;#1090;&amp;#1086; &amp;#1079;&amp;#1072; &amp;#1087;&amp;#1086;&amp;#1083;&amp;#1103;, &amp;#1080; &amp;#1095;&amp;#1090;&amp;#1086; &amp;#1085;&amp;#1091;&amp;#1078;&amp;#1085;&amp;#1086; &amp;#1074;&amp;#1074;&amp;#1086;&amp;#1076;&amp;#1080;&amp;#1090;&amp;#1100;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Не разобрался, что за поля, и что нужно вводить</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4c9fb5b1_66a9_40e2_9cb1_c475218759c4</name>
        <choiceText>&amp;#1057;&amp;#1083;&amp;#1086;&amp;#1078;&amp;#1085;&amp;#1086;&amp;#1089;&amp;#1090;&amp;#1077;&amp;#1081; &amp;#1085;&amp;#1077; &amp;#1073;&amp;#1099;&amp;#1083;&amp;#1086;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Сложностей не было</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50bf2f3f_c5c2_4d34_9627_b615e3fe4074</name>
        <choiceText>&amp;#1062;&amp;#1077;&amp;#1085;&amp;#1072; &amp;#1089;&amp;#1083;&amp;#1080;&amp;#1096;&amp;#1082;&amp;#1086;&amp;#1084; &amp;#1074;&amp;#1099;&amp;#1089;&amp;#1086;&amp;#1082;&amp;#1072;&amp;#1103;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Цена слишком высокая</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_537e3d1e_ef2a_4584_aed1_0d863a5765ee</name>
        <choiceText>&amp;#1041;&amp;#1086;&amp;#1083;&amp;#1100;&amp;#1096;&amp;#1077; &amp;#1090;&amp;#1072;&amp;#1088;&amp;#1080;&amp;#1092;&amp;#1086;&amp;#1074; / &amp;#1087;&amp;#1088;&amp;#1086;&amp;#1097;&amp;#1077; &amp;#1091;&amp;#1089;&amp;#1083;&amp;#1086;&amp;#1074;&amp;#1080;&amp;#1103;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Больше тарифов / проще условия</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_72f379b5_1de8_4a3b_8ce6_ac96521eb87e</name>
        <choiceText>&amp;#1055;&amp;#1088;&amp;#1086;&amp;#1095;&amp;#1077;&amp;#1077;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Прочее</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89058705_56a6_45c2_a261_865e29625198</name>
        <choiceText>&amp;#1055;&amp;#1088;&amp;#1086;&amp;#1095;&amp;#1077;&amp;#1077;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Прочее</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8e83cdbe_63c2_455f_a291_2098237dbe6e</name>
        <choiceText>&amp;#1054;&amp;#1090;&amp;#1087;&amp;#1088;&amp;#1072;&amp;#1074;&amp;#1080;&amp;#1090;&amp;#1100; &amp;#1089;&amp;#1082;&amp;#1072;&amp;#1085;&amp;#1099; &amp;#1076;&amp;#1086;&amp;#1082;&amp;#1091;&amp;#1084;&amp;#1077;&amp;#1085;&amp;#1090;&amp;#1086;&amp;#1074; &amp;#1080; &amp;#1085;&amp;#1077; &amp;#1079;&amp;#1072;&amp;#1087;&amp;#1086;&amp;#1083;&amp;#1085;&amp;#1103;&amp;#1090;&amp;#1100; &amp;#1089;&amp;#1072;&amp;#1084;&amp;#1086;&amp;#1084;&amp;#1091; &amp;#1074;&amp;#1089;&amp;#1077; &amp;#1087;&amp;#1086;&amp;#1083;&amp;#1103;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Отправить сканы документов и не заполнять самому все поля</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_972904b7_5b99_4f0b_b749_49fe7a627b9a</name>
        <choiceText>&amp;#1055;&amp;#1088;&amp;#1086;&amp;#1095;&amp;#1077;&amp;#1077;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Прочее</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9ab6a358_fb60_4854_b5d8_83ee30aa0e5e</name>
        <choiceText>&amp;#1052;&amp;#1072;&amp;#1083;&amp;#1086; &amp;#1076;&amp;#1086;&amp;#1087;&amp;#1086;&amp;#1083;&amp;#1085;&amp;#1080;&amp;#1090;&amp;#1077;&amp;#1083;&amp;#1100;&amp;#1085;&amp;#1099;&amp;#1093; &amp;#1089;&amp;#1077;&amp;#1088;&amp;#1074;&amp;#1080;&amp;#1089;&amp;#1086;&amp;#1074;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Мало дополнительных сервисов</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b3bd7463_1fc7_417c_88a7_5afaae88b1c5</name>
        <choiceText>&amp;#1042;&amp;#1086;&amp;#1079;&amp;#1084;&amp;#1086;&amp;#1078;&amp;#1085;&amp;#1086;&amp;#1089;&amp;#1090;&amp;#1100; &amp;#1086;&amp;#1092;&amp;#1086;&amp;#1088;&amp;#1084;&amp;#1080;&amp;#1090;&amp;#1100; &amp;#1086;&amp;#1090;&amp;#1089;&amp;#1088;&amp;#1086;&amp;#1095;&amp;#1082;&amp;#1091; / &amp;#1082;&amp;#1088;&amp;#1077;&amp;#1076;&amp;#1080;&amp;#1090;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Возможность оформить отсрочку / кредит</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4e40f53_92d5_40f4_b28c_d57c7d939b22</name>
        <choiceText>&amp;#1044;&amp;#1072;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Да</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c8e5bb1d_28e8_4b08_b29a_33567366b386</name>
        <choiceText>&amp;#1053;&amp;#1077; &amp;#1079;&amp;#1072;&amp;#1093;&amp;#1086;&amp;#1090;&amp;#1077;&amp;#1083; &amp;#1074;&amp;#1089;&amp;#1077; &amp;#1074;&amp;#1074;&amp;#1086;&amp;#1076;&amp;#1080;&amp;#1090;&amp;#1100; &amp;#1089;&amp;#1072;&amp;#1084;&amp;#1086;&amp;#1089;&amp;#1090;&amp;#1086;&amp;#1103;&amp;#1090;&amp;#1077;&amp;#1083;&amp;#1100;&amp;#1085;&amp;#1086;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Не захотел все вводить самостоятельно</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fe7d7f91_f07d_4de0_aa3b_58c6fd790a5e</name>
        <choiceText>&amp;#1053;&amp;#1077; &amp;#1088;&amp;#1072;&amp;#1079;&amp;#1086;&amp;#1073;&amp;#1088;&amp;#1072;&amp;#1083;&amp;#1089;&amp;#1103; &amp;#1089; &amp;#1091;&amp;#1089;&amp;#1083;&amp;#1086;&amp;#1074;&amp;#1080;&amp;#1103;&amp;#1084;&amp;#1080; / &amp;#1094;&amp;#1077;&amp;#1085;&amp;#1086;&amp;#1081;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Не разобрался с условиями / ценой</stringValue>
        </value>
    </choices>
    <interviewLabel>E2EClassic</interviewLabel>
    <label>E2EClassic</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0572b41d_0138_4c89_ad3a_a389102c9e2d</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_561f7663_673a_4379_9a00_ac39f59eb48f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_130ec3dd_e8c8_47f5_9b39_ebcb0da0da33</name>
            <choiceReferences>c_8e83cdbe_63c2_455f_a291_2098237dbe6e</choiceReferences>
            <choiceReferences>c_b3bd7463_1fc7_417c_88a7_5afaae88b1c5</choiceReferences>
            <choiceReferences>c_537e3d1e_ef2a_4584_aed1_0d863a5765ee</choiceReferences>
            <choiceReferences>c_89058705_56a6_45c2_a261_865e29625198</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Helvetica, sans-serif; font-size: 11.5pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;i&gt;Что бы вы улучшили или изменили?&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2161850a_8d9e_4267_aa78_91ce14b2d4f3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Прочее&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_130ec3dd_e8c8_47f5_9b39_ebcb0da0da33</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_89058705_56a6_45c2_a261_865e29625198</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_561f7663_673a_4379_9a00_ac39f59eb48f</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8d88becc_f9a7_4cb1_8015_7df7d48e2db5</name>
            <choiceReferences>c_b4e40f53_92d5_40f4_b28c_d57c7d939b22</choiceReferences>
            <choiceReferences>c_50bf2f3f_c5c2_4d34_9627_b615e3fe4074</choiceReferences>
            <choiceReferences>c_193ef737_7fbc_4a25_a6de_575518102d90</choiceReferences>
            <choiceReferences>c_9ab6a358_fb60_4854_b5d8_83ee30aa0e5e</choiceReferences>
            <choiceReferences>c_972904b7_5b99_4f0b_b749_49fe7a627b9a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Helvetica, sans-serif; font-size: 11.5pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;i&gt;Устроила ли вас цена топливных карт?&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ff9ea852_32d9_41ea_a264_3dd67b82d20f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Прочее&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8d88becc_f9a7_4cb1_8015_7df7d48e2db5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_972904b7_5b99_4f0b_b749_49fe7a627b9a</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7bfb9cd4_080c_4e42_934b_fc5052e29038</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0572b41d_0138_4c89_ad3a_a389102c9e2d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_130ef2f8_8bf6_4c8b_b9a8_f5a677546833</name>
            <choiceReferences>c_4c9fb5b1_66a9_40e2_9cb1_c475218759c4</choiceReferences>
            <choiceReferences>c_3ab767d6_1df2_4d7b_82ba_128bc3b48031</choiceReferences>
            <choiceReferences>c_fe7d7f91_f07d_4de0_aa3b_58c6fd790a5e</choiceReferences>
            <choiceReferences>c_c8e5bb1d_28e8_4b08_b29a_33567366b386</choiceReferences>
            <choiceReferences>c_72f379b5_1de8_4a3b_8ce6_ac96521eb87e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Helvetica, sans-serif; font-size: 11.5pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;i&gt;С какими сложностями вы столкнулись?&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a23944ab_ad89_49b4_a5fb_63b34b75773d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Прочее&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_130ef2f8_8bf6_4c8b_b9a8_f5a677546833</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_72f379b5_1de8_4a3b_8ce6_ac96521eb87e</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_7bfb9cd4_080c_4e42_934b_fc5052e29038</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;b&gt;&lt;i&gt;Спасибо!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
