default/flows/update_GFN_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>update GFN on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update GFN on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_opp_and_account</name>
        <label>find opp and account</label>
        <locationX>291</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_GFN_number_on_acct</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>GFNfromACCT</outputReference>
        <queriedFields>GFN_number_for_starts__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_GFN_number_on_acct</name>
        <label>update GFN number on acct</label>
        <locationX>302</locationX>
        <locationY>157</locationY>
        <filters>
            <field>GFN_Nr__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GFNfromACCT.GFN_number_for_starts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GFN_Nr__c</field>
            <value>
                <elementReference>GFNfromACCT.GFN_number_for_starts__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>find_opp_and_account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GFNfromACCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>GFNfromOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateGFNonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
